flake8==3.8.3
flake8-comprehensions==3.2.3
flake8-import-order==0.18.1
importlib-metadata==1.7.0
mccabe==0.6.1
numpy==1.19.0
opencv-python==4.2.0.34
Pillow==9.3.0
pycodestyle==2.6.0
pyflakes==2.2.0
pyrealsense2==2.35.2.1937
zipp==3.1.0
